<div class="">
  <div class="">
    <div class="">
      <article class="">
        <figure class="">
          <p class="">

          </p>
        </figure>
        <div class="">
          <%= render 'form' %>
        </div>
      </article>
    </div>
    <%= render 'posts/post' %>
  </div>
  <%= render 'who_to_follow' %>
</div>
